<style>
  #team {
    max-width: 100%;
    padding: 25vh 5vw 0 50vw;
    overflow: hidden;
    position: relative;
    background-color: rgba(32,149,242,1);
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    background-image: url(images/sam-and-thomas-at-hutspot.jpg);
    background-position: bottom;
    background-size: cover;
  }
  #team h1 {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: none;
    margin-top: 0;
    padding: 2rem 2rem 2rem 5vw;
    background: transparent;
  }
  #team>p, #team h2, #team blockquote {
    max-width: 40rem;
    padding: 0.5rem;
    padding: 1rem;
    margin: 0;
    background: rgba(32,149,242,1);
  }
  #team blockquote {
    font-weight: 600;
    font-style: italic;
    color: inherit;
    padding-left: 5vw;
    border-left: 0;
  }
  @media (max-width: 830px) {
    #team {
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
      padding: calc(100vw * 0.8) 0 2.5vh 0;
    }
    #team h1 {
      position: absolute;
      top: 0;
      padding: 5vh 5vw 0;
      width: 100%;
    }
    #team p, #team h2, #team blockquote {
      margin: 0 auto;
      padding: 0.5rem 5vw;
    }
    #team blockquote {
      padding: 0;
    }
  }

</style>

<article id="team">
  {{ content }}
</article>
